@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

.App {
  font-family: 'Manrope', sans-serif;
  text-align: center;
  background: hsl(210, 46%, 95%);
  height: 100vh;
  padding-top: 5em;
}

img {
  max-width: 100%;
}

.img-div {
  width: 90%;
  margin: auto;
  background-image: url("/public/images/drawers.jpg");
  background-size: cover;
  height: 230px;
  border-radius: 5px 5px 0 0; 
}

.text-div-one { 
  width: 90%;
  margin: auto;
  text-align: left;
  background-color: rgb(255, 255, 255);
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 1px 100px #818181;
}

.text-div-one div {
  width: 80%;
  margin: auto;
  padding-top: 1em;
}

.text-div-one h4 {
  padding: 1em 0;
  color: hsl(217, 19%, 35%);
  font-weight: 700;
}

.text-div-one p {
  font-size: 14px;
  color: hsl(214, 17%, 51%);
  line-height: 24px;
}

.text-div-one .row {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  padding-bottom: .8em;
}

.row .one {
  width: 20%;
}
.row .two {
  width: 60%;
  padding-left: 8px;
}

.row .three {
  width: 20%;
  text-align: right;
}

.two h5 {
  color: hsl(217, 19%, 35%);
  font-weight: 700;
  letter-spacing: 1px;
}

.two p {
  color:rgb(175, 183, 193)
}

.row .avatar {
  border-radius: 100px;
  width: 80%;
}
.row .arrow {
  width: 30%;
  cursor: pointer;
}

.container {
  background: hsl(217, 19%, 35%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: -4.5em;
  width: 90%;
  padding: 1.5em 0;
  margin: auto;
  border-radius: 0 0 10px 10px;
}

.container .share {
  width: 30%;
}

.share h5 {
  text-transform: uppercase;
  color:rgb(175, 183, 193);
  letter-spacing: 5px;
  padding-left: 2.5em;
}

.container .icons {
  width: 40%;
}

.icons img {
  width: 20%;
  margin-right: .8em;
}

.container .arrow {
  width: 20%;
}

@media(min-width: 728px){
  .container {
    top: -6em;
  }
  .img-div {
      height: 450px;
  }
  .container .share {
    width: 25%;
  }

  .container .arrow {
    width: 25%;
  }
  
}

@media (min-width: 1000px){
  .wrapper-row {
    display: flex;  
    align-items: center;
    width: 65%;
    max-width: 1000px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .wrapper-row > div {
    width: 100%;
  }

  .img-div {
    width: 100%;
    background-image: url("/public/images/drawers.jpg");
    background-size: cover;
    background-position: center;
    height: 310px;
    border-radius: 10px 0px 0px 10px; 
  }
  .text-div-one { 
    width: 100%;
    border-radius: 0 10px 10px 0px;
    height: 310px;
  } 
  .text-div-one p {
    font-size: 13px;
  }

  .container {
    width: 30%;
    position: absolute;
    top: 8em;
    right: -70px;
    border-radius: 10px 10px 10px 10px;
  }
  
  .container .share {
    width: 50%;
  }
  
  .share h5 {
    padding: 0;
  }
  
  .container .icons {
    width: 50%;
  }
  
  .icons img {
    width: 20%;
    
  }
  
  .container .arrow {
    display: none;
  }


}